*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto mono', monospace;
}

.contenedor__titulo{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.titulo{
    font-size: 80px;
}