* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto mono', monospace;
    color: #070F2B;
}

.contenedor__titulo {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.titulo {
    font-size: 80px;

    @media (max-width: 768px) {
        font-size: 65px;
    }
}

.contenedor__subtitulo {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.subtitulo{

    @media (max-width: 768px) {
        font-size: 20px;
        text-align: center;
    }
}

.contenedor__botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
}

.boton {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: none;
    color: #1B1A55;
    background-color: #9290C3;
    font-size: 20px;

    &:hover {
        background-color: #535C91;
        color: aliceblue;
    }

    @media (max-width: 768px) {
        font-size: 15px;
        width: 90px;
        height: 90px;
    }
}


.manos {
    font-size: 65px;

    @media (max-width: 768px) {
        font-size: 45px;
    }
}

.contenedor__elecciones {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    gap: 150px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
    }
}

.contenedor__elecciones-centrar {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.box__eleccion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 55px;
    border: 3px solid #1B1A55;
    border-radius: 10px;
    margin-top: 5px;
}

.eleccion {
    font-size: 30px;
    font-weight: 600;
}

.contenedor__resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    @media (max-width: 768px) {
        height: 150px;
    }
    
}

.box__resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 80px;
    
}

#resultado {
    font-size: 55px;
    font-weight: 800;

    @media (max-width: 768px) {
        font-size: 40px;
        text-align: center;
    }
}

.contador__jugadas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    @media (max-width: 768px) {
        gap: 10px;
        margin-bottom: 25px;
    }
}

.footer__text{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding: 50px;
}